/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: RAPID_CURATION  {
        publishDir = [
            path: { "${params.outdir}/rapid-curation" },
            mode: params.publish_dir_mode ]

    }

    withName: MASHMAP   {
        ext.args = [
                "-f one-to-one",
                "-s 50000",
                "--legacy"
        ]
    }
    withName: 'BUSCO_BUSCO' {
        ext.args = { '--miniprot' }
        publishDir = [
            path: { "${params.outdir}/busco" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GFASTATS_HAP1' {
        publishDir = [
            path: { "${params.outdir}/gfastats" },
            mode: params.publish_dir_mode
        ]
        ext.args = [
            "--discover-paths",
            "--tabular",
            "--nstar-report"
        ]
        .join(' ').trim()
    }

    withName: 'GFASTATS_HAP2' {
        publishDir = [
            path: { "${params.outdir}/gfastats" },
            mode: params.publish_dir_mode
        ]
        ext.args = [
            "--discover-paths",
            "--tabular",
            "--nstar-report"
        ]
        .join(' ').trim()
    }
    }
    
    withName: 'CUT' {
        ext.args = '-f1,2'
        publishDir = [
            path: { "${params.outdir}/omnic" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
